# Day 23

- name: filters/functions
  hosts: local
  connection: local
  vars:
    topics: linux, shell, ansible, terraform
  tasks:
    - name: greeting
      ansible.builtin.debug:
        msg: "Hello Varun {{ greeting | default('Good Afternoon') }}"

    - name: convert string to list
      ansible.builtin.debug:
        msg: "{{ topics | split(',') }}"