# Day 23

- name: filters/functions
  hosts: local
  connection: local
  vars:
    topics: linux, shell, ansible, terraform
  tasks:
    - name: greeting
      ansible.builtin.debug:
        name: "Hello {{ greeting | default ('Good Afternoon') }}"

  