# Day 23

- name: filters/functions
  hosts: local
  connection: local
  vars:
    topics: linux, shell, ansible, terraform
    course: "DevOps with Ansible"
    myIP: "246.54.43.324"
    tagsMap:
      name: ansible
      project: roboshop
      component: catalogue
    tagsList:
      [
        {
            "key": "name",
            "value": "ansible"
        },
        {
            "key": "project",
            "value": "roboshop"
        },
        {
            "key": "component",
            "value": "catalogue"
        }
      ]
  tasks:
    - name: greeting
      ansible.builtin.debug:
        msg: "Hello Varun {{ greeting | default('Good Afternoon') }}"

    - name: convert string to list
      ansible.builtin.debug:
        msg: "{{ topics | split(',') }}"

    - name: convert map to list
      ansible.builtin.debug:
        msg: "{{ tagsMap | dict2items }}"

    - name: convert list to map
      ansible.builtin.debug:
        msg: "{{ tagsList | items2dict }}"


    - name: read students yaml
      ansible.builtin.set_fact:  # setting the variable
        students_yaml: "{{ lookup('file', 'students.yaml') | from_yaml }}"

    - name: convert students yaml to json
      ansible.builtin.debug:
        msg: "{{ students_yaml | to_nice_json }}"

    - name: convert lower to upper case
      ansible.builtin.debug:
        msg: "{{ course | upper }}"

    - name: convert upper to lower case
      ansible.builtin.debug:
        msg: "{{ course | lower }}"

    - name: check ipv4 address
      ansible.builtin.debug:
        msg: "{{ myIP | ansible.utils.ipv4 }}"
 


# O/P:
# TASK [convert string to list] ***************************************************************************************
# ok: [localhost] => {
#     "msg": [
#         "linux",
#         " shell",
#         " ansible",
#         " terraform"
#     ]
# }

# TASK [convert map to list] ******************************************************************************************
# ok: [localhost] => {
#     "msg": [
#         {
#             "key": "name",
#             "value": "ansible"
#         },
#         {
#             "key": "project",
#             "value": "roboshop"
#         },
#         {
#             "key": "component",
#             "value": "catalogue"
#         }
#     ]
# }

# TASK [convert list to map] ******************************************************************************************
# ok: [localhost] => {
#     "msg": {
#         "component": "catalogue",
#         "name": "ansible",
#         "project": "roboshop"
#     }
# }


# TASK [read students yaml] *******************************************************************************************
# ok: [localhost]

# TASK [convert students yaml to json] ********************************************************************************
# ok: [localhost] => {
#     "msg": "[\n    {\n        \"Mobile\": 8106431775,\n      
#   \"addresses\": [\n            {\n             
#      \"Phase\": \"phase 5\",\n               
#       \"area\": \"Kukatpally\",\n               
#        \"flat no\": 1007\n            },\n        
#            {\n                \"Phase\": \"phase 8\",\n     
#    \"area\": \"Moosapet\",\n              
#          \"flat no\": 1009\n  
# }